<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>724422475595-fet5scburmc5faqdadqjtgjbmosn4f4q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.724422475595-fet5scburmc5faqdadqjtgjbmosn4f4q</string>
	<key>API_KEY</key>
	<string>AIzaSyCqZe-5iXakzMy81Z7K-0MJv3YB2yhTNSI</string>
	<key>GCM_SENDER_ID</key>
	<string>724422475595</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterDashboard</string>
	<key>PROJECT_ID</key>
	<string>wallet-5f129</string>
	<key>STORAGE_BUCKET</key>
	<string>wallet-5f129.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:724422475595:ios:dc59463b9b3cc6c96072ce</string>
</dict>
</plist>